<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <style>
        .messages{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .success{
            color: rgb(22, 223, 22);
        }

        .info {
            color: red;
        }
    </style>
</head>
<body>    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>